<h3>Syarat Dan Ketentuan</h3>
<ol>
  <li><strong>Fasilitas</strong>
      <p>
        Wireless Hotspot merupakan fasilitas yang diberikan STIKES Muhammadiyah Banjarmasin kepada dosen, mahasiswa serta civitas akademik yang telah mendaftar layanan koneksi intranet dan internetuntuk kepentingan pembelajaran.
      </p>
      <p>
        Pengguna Wireless Hotspot akan menjaga fasilitas tersebut yaitu dengan menggunakan internet hanya untuk mencari informasi yang dibutuhkan agar mendukung proses perkuliahan.
      </p>
      <p>
        Menggunakan akses email yang dimiliki dengan baik, yaitu dengan menggunakan email tsb untuk tujuan pertukaran informasi, data, dsb, tidak menggunakan email untuk hal –hal yang akan menghasut, bersifat SARA dsb.
      </p>
      <p>
        Tidak melakukan akses internet untuk merusak sistem yang ada di internet seperti HACK,mengirimkan virus dsb. Apabila pihak STIKES Muhammadiyah Banjarmasin menemukan indikasi tersebut, maka pengguna menerima konsekwensi yang berlaku pada Point 6.

      </p>
  </li>
  <li>
    <strong>Layanan</strong>
    <p>
      STIKES Muhammadiyah Banjarmasin mendapat wewenang untuk menyediakan, mengatur dan melakukan maintenance Sistem Wireless Hotspot STIKES Muhammadiyah Banjarmasin.
    </p>
  </li>
  <li>
    <strong>Peraturan</strong>
    <p>
      Menerima dan mengikuti aturan yang diterapkan STIKES Muhammadiyah Banjarmasin.
    </p>
    <ul>
    	<li>
    		Melakukan browsing secara efektif yaitu <strong>jika pekerjaan atau tugas mengharuskan pengguna untuk menelusuri Internet</strong>, atau bila memang hanya untuk refreshing, <strong>dilakukan seperlunya saja</strong>.
    	</li>
    	<li>
    		<strong>Selektif terhadap URL/content yang diakses</strong>, yaitu yang berkaitan dengan fungsi STIKES Muhammadiyah Banjarmasin sebagai lembaga pendidikan dan penelitian, dan diperbolehkan mengakses situs berita, hiburan dan informasi di dalam batas kewajaran.
    	</li>
    	<li>
    		Memantau content yang didownload, termasuk di dalamnya adalah content yang spesifik terhadap jenis file. <strong> File dengan ukuran yang besar (di atas rata-rata) agar dipertimbangkan kembali sebelum didownload, karena selain lamanya waktu yang dibutuhkan, juga akan ikut mengambil pipa saluran koneksi STIKES Muhammadiyah Banjarmasin yang tentunya akan memperlambat koneksi, baik bagi dirinya dan juga semua pengguna Internet di STIKES Muhammadiyah Banjarmasin</strong>. Kami menetapkan aturan kuota download per hari sebesar 750 MB. 
    	</li>
    </ul>
  </li>
  <li>
    <strong>Waktu Pemakaian</strong>
    <p>
      Wireless Hotspot dapat digunakan sepanjang Waktu Operasional Kampus, kecuali dalam kondisi khusus (perbaikan, penambahan dll). STIKES Muhammadiyah Banjarmasin berhak melakukan maintenance tanpa memberitahu terlebih dahulu kepada para pengguna.
    </p>
  </li>
  <li>
    <strong>Account</strong>
    <p>
      Password bersifat rahasia. STIKES Muhammadiyah Banjarmasin tidak bertanggung jawab apabila terjadi penyalah-gunaan pemakaian account Anggota Wireless Hotspot STIKES Muhammadiyah Banjarmasin.
    </p>
  </li>
  <li>
    <strong>Pemutusan Koneksi</strong>
    <p>
      STIKES Muhammadiyah Banjarmasin berhak menon-aktifkan koneksi yang dilakukan para pengguna, apabila melakukan koneksi yang mengakibatkan penurunan kualitas Sistem Wireless Hotspot, seperti :
      <ul style="margin-left:15px">
        <li style="list-style-type: circle;">Terkena virus yang mengirimkan packet ke seluruh jaringan</li>
        <li style="list-style-type: circle;">Mengirimkan packet DDOS ke seluruh jaringan</li>
      </ul>
    </p>
  </li>
</ol>