<form action="/login" method="post">
  <label for="user">Username</label>	
  <input id="user" type="text" name="username">
  <label for="pass">Password</label>
  <input id="pass" type="password" name="password">
  <button>Masuk</button>
  <button style="clear:none;margin-left:10px;">Batal</button>
</form>
