<p>Untuk melakukan setting ulang kata sandi, silahkan isi form dibawah ini</p>
<form action="/lupa" method="post">
  <label for="npm">NPM :</label>
  <input type="text" name="npm">
  <label for="email">Alamat Email :</label>
  <input type="text" name="email">
  <label for="to">Telpon :</label>
  <input type="text" name="telp">
  <button>Kirim</button>
</form>