<article class="sukses">
	Permintaan reset akun anda sudah terkirim kedalam sistem kami dan sedang dalam proses reset, sistem akan otomatis mengirim katasandi melalui sms dan email dalam waktu maksimal 2 x 24 jam
</article>

<p>Kembali ke halaman <a href="higspeedhotspot.stikesmb.net">login</a></p>